#nueroplasticity-list {
  text-align: left;
  line-height: 160%
  
}

.seventypercent {
  width: 70%;
  height: auto;
  border-radius: 10px;
}

.fourtypercent {
   width: 40%;
   height: auto;
   border-radius: 10px;
}

.italic {
  font-style: italic;
  color: rgb(25, 27, 151);
  font-weight: 600;
}

mark {
  font-weight: bold;
  color: #dd4b39;
  background-color: inherit;
}
.nav-li, .footer-ul {
  display: inline-block;
  list-style-type: none;
}

.blogs {
  text-decoration: none;
  color: #000;

}

#values-strengths-dev {
  width: 100%;
}

figcaption {
    color: rgb(0, 0, 0);
    padding: 2px;
    text-align: center;
    font-style: italic;
    font-weight: 300;
  }

.fa {
    padding: 20px;
    font-size: 100px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 10%;
  }

.fa-facebook {
    background: #3B5998;
    color: white;
  }

.fa-google {
    background: #dd4b39;
    color: white;
  }

.fa-linkedin {
    background: #007bb5;
    color: white;
  }

.fa-instagram {
    background: #125688;
    color: white;
  }
  
main {
    width: 100%;
    height: 600px;
    font-size: 25px;
}

.intro {
    margin: 0%;
    position: relative;
    color: white;
    font-family: 'Cardo', serif;
    font-family: 'Zen Dots', cursive;
    font-size: 30px;
}

.name {
position: absolute;
text-align: center;
top: 282px;
left: 314px;
}

.cohort {
    position: absolute;
    text-align: center;
    top: 380px;
    left: 644px;
    font-size: 15px;
}

.profile-pic {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.about-me-pics {
    max-width: 100%;
    height: 35vh;
    border-radius: 10px;
}

.content {
    max-width: 1000px;
    margin: auto;       
  }

body,html {
    background-color: #e2e2e2;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0px;
    padding: 0px;
    text-align: center;
    display: block;
}

hr{
    background-color: #3a4660;
    display: block;
    width: 100%;
    height: 8px;
    border-radius: 10px;
    border-color: #3a4660;
}

.blogheaderhr{
  background-color: #000000;
  display: block;
  width: 90%;
  height: 4px;
  border-radius: 10px;
  border-color: #000000;
}

.blogcontenthr{
  background-color: #000000;
  display: block;
  width: 70%;
  height: 2px;
  border-radius: 10px;
  border-color: #000000;
}

.navbar {
    width: 100%;
    height: 50px;
}

ul {
    width: auto;
    text-align: center;
    position: relative;
    display: inline-block;
}

a {
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;

}

.navlinks {
    padding: 12px;
    color: #3a4660;
    text-decoration: none;
    width: 33.33%;
    text-align: center;
    font-family: 'Zen Dots', cursive;
    font-size: 16px;
}

.navbar a:hover {
    background-color: #ea5147;
    border-radius: 5px 5px 5px 5px;
  }

@media screen and (max-width: 1000px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left;
    }}